<html>
<head>
  <%
  var localmeta = {
    title: 'ログアウト'
  };
  %>
  <%- include('include/_head', {meta: localmeta}) %>
  <script src="js/signout.js"></script>
</head>
  <body>
    <%- include('include/_navbar') %>
  </body>
</html>