<html>
  <head>
  <%
  var localmeta = {
    title: 'ログイン'
  };
  %>
  <%- include('include/_head', {meta: localmeta}) %>
  <script src="js/signin.js"></script>
  </head>
  <body>
    <%- include('include/_navbar') %>
    <div id="signin">
      <h1>ログイン</h1>
      <div id="message"><span style="color: red;"></span></div>
      <form name="form-signin">
        <span style="display: inline-block; width: 150px;">Email Address</span>
        <input type="text" id="email" placeholder="Email Address">
        <br/>
        <span style="display: inline-block; width: 150px;">Password</span>
        <input type="password" id="password" placeholder="Password">
        <br/><br/>
        <input type="button" id="signinButton" value="Sign In">
      </form>
    </div>
  </body>
</html>