<html>
<head>
  <%
  var localmeta = {
    title: 'ユーザーページ'
  };
  %>
  <%- include('include/_head', {meta: localmeta}) %>
  <script src="js/user.js"></script>
</head>
  <body>
    <%- include('include/_navbar') %>
    <div id="menu">
      <h1></h1>
    </div>
  </body>
</html>