<html>
  <head>
  
  <title>LearningR ログイン</title>
<meta http-equiv="content-type" charset="utf-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="js/package/jsbn.js"></script>
<script src="js/package/jsbn2.js"></script>
<script src="js/package/sjcl.js"></script>
<script src="js/package/aws-sdk.min.js"></script>
<script src="js/package/aws-cognito-sdk.min.js"></script>
<script src="js/package/amazon-cognito-identity.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="js/cognito.js"></script>
<script src="js/navbar.js"></script>
  <script src="js/signin.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav">
  <a class="navbar-brand" href="#">LearningR</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <div id="signin-or-out-content" class="container" style="display: flex;">
      </div>
    </ul>
  </div>
</nav>
    <div id="signin">
      <h1>ログイン</h1>
      <div id="message"><span style="color: red;"></span></div>
      <form name="form-signin">
        <span style="display: inline-block; width: 150px;">Email Address</span>
        <input type="text" id="email" placeholder="Email Address">
        <br/>
        <span style="display: inline-block; width: 150px;">Password</span>
        <input type="password" id="password" placeholder="Password">
        <br/><br/>
        <input type="button" id="signinButton" value="Sign In">
      </form>
    </div>
  </body>
</html>